

.parallax-container
  height: 100vh



@font-face
  font-family: 'MrRobot' /*a name to be used later*/
  src: url('/font/mrrobot.ttf') /*URL to font*/

.header
  font-size: 10vw

.typed-cursor
  opacity: 1
  -webkit-animation: blink 0.7s infinite
  -moz-animation: blink 0.7s infinite
  animation: blink 0.7s infinite
  font-size: 100%
  color: white

.terminalText
  color: #B31F1E
  font-weight: bold



@keyframes blink
  0%
    opacity: 1

  50%
    opacity: 0

  100%
    opacity: 1


.blink-text
  opacity: 1
  -webkit-animation: blink 0.3s infinite
  -moz-animation: blink 0.3s infinite
  animation: blink-text 0.3s infinite
  font-size: 8vw
  color: #b71c1c



@keyframes blink-text
  0%
    color: #b71c1c


  100%
    color: #9a1818


.menuTerminal
  box-sizing: border-box
  height: 25px
  background-color: #bbb
  margin: 0 auto
  border-top-right-radius: 5px
  border-top-left-radius: 5px

#root
  color: black
  font-weight: bolder
  font-family: Roboto

.element
  color: white
  font-family: Source Code Pro, Courier New, Courier, monospace
  font-size: 100%

.console
  background-color: black


.lowerOpacity
  opacity: 0.2

.unless
  font-size: 12px
  margin-top: -30px


.title
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)


.text_test
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.ecorp
  opacity: 0.3
  height: 10vh

.titles
  font-family: MrRobot, Roboto
